body {
    background-image: url(./background.jpg);
}

.container{
    padding: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.alert-success {
    display: block;
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    display: block;
    background-color: #f8d7da;
    color: #721c24;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.heading {
    background-color: #72A9BC;
    text-align: center;
    padding: 0.5em;
    margin: 1em;
    margin-left: 5em;
    margin-right: 5em;
    color: white;
    text-decoration: underline;
    font-weight: bolder;
    font-size: xx-large;
    border: solid white;
    text-decoration: underline;
}

.sec1, .sec2, .sec3, .sec4, .sec5, .sec6 {
    padding: 1em;
    margin: 1em;
    border: solid white;
    font-weight: bolder;
    text-align: center;
    font-size: large;
    cursor: pointer;
    color: black;
}

.sec1 {
    background-color: #F0F2F3;
}

.sec2 {
    background-color: #E5DDDC;
}

.sec3 {
    background-color: #CDCACC;
}

.sec4 {
    background-color: #A99C93;
}

.sec5 {
    background-color: #9F8A82;
}

.sec6 {
    background-color: #9A7562;
}

.btn {
    margin: 1em;
    padding: 0.5em 1em;
}

.content {
    padding: 2em;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
}
